@model IEnumerable<APP.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

@if (TempData["Confirm"] != null)
{
    <p class="alert alert-success mt-2 text-center" id="successMessage">@TempData["Confirm"]</p>
}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success mt-2 text-center" id="successMessage">@TempData["Success"]</p>
}
<div class="container-fluid content-row mt-1">
    <div id="outerDiv" class="row">

        @foreach (var movie in Model)
        {
            <div id="myCard" class="card col-md-2 bg-dark mt-1">
                <a href="@Url.Action("Details", "Movie", new { id = movie.Id })">
                    <img class="card-img-top mt-1" alt="List View" height="250vh" src="@Url.Content($"~/Images/{@movie.MovieImagePath}")">
                </a>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <p id="movieName" class="card-text text-white text-center"><b>@movie.MovieName</b></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script>
        function searchMovie() {
            var input, filter, div, cards, p, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            div = document.getElementById('outerDiv');
            cards = div.getElementsByClassName('col-md-2')

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < cards.length; i++) {
                p = cards[i].getElementsByTagName("p")[0];
                txtValue = p.textContent || p.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }

    </script>
}
