@model APP.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<h2 class="text-center text-white">@ViewBag.Title</h2>
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">

                <div class="card-body mx-auto">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Enter your email.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">                           
                            <div class="col-md-12"> 
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col", placeholder = "E-mail" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" class="btn btn-info" value="Email Link" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
