@model APP.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body mx-auto">
                    <div class="row">
                        
                            @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("rememberMe", @Model.RememberMe)
                                <h4 class="text-center">Send verification code</h4>
                                <hr />
                                <div class="row">
                                    
                                        <p>Select Two-Factor Authentication Provider:</p>
                                    
                                </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "dropdown col" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" value="Submit" class="btn btn-success col" />
                                        </div>
                                    </div>
                                

                            }
                        
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
