@model APP.Models.CreateMovieModel
@{
    ViewBag.Title = "Create";
}

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body mx-auto">
                    @using (Html.BeginForm("Create", "Movie", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="text-center">Add new movie</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col", placeholder = "Movie name" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger small" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control col", placeholder = "Movie description" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger small" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}