@model APP.Models.Movie
@{
    ViewBag.Title = "Details";
}

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body mx-auto">

                    <h4 class="text-center">Movie details</h4>
                    @if (TempData["Error"] != null)
                    {
                        <p class="alert alert-warning text-center" id="successMessage">@TempData["Error"]</p>
                    }
                    <hr />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MovieName, "Name", new { @class = "FieldLabel small" })
                                    @Html.TextBoxFor(model => model.MovieName, new { @class = "form-control col", @readonly = "true" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MovieActors, "Actors", new { @class = "FieldLabel small" })
                                    @Html.TextAreaFor(model => model.MovieActors, new { @class = "form-control col", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MovieDuration, "Duration (mins.)", new { @class = "FieldLabel small" })
                                    @Html.TextBoxFor(model => model.MovieDuration, new { @class = "form-control col", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MovieRating, "Rating", new { @class = "FieldLabel small" })
                                    @Html.TextBoxFor(model => model.MovieRating, new { @class = "form-control col", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MovieStreamingLink, "Streaming link", new { @class = "FieldLabel small" })
                                    @Html.TextBoxFor(model => model.MovieStreamingLink, new { @class = "form-control col", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div class="col-12 text-center">
                                    <img class="card-img img-fluid" src="~/Images/@Model.MovieImagePath" id="img" alt="Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="col">
                                    @Html.LabelFor(model => model.MovieDescription, "Description", new { @class = "FieldLabel small" })
                                    @Html.TextAreaFor(model => model.MovieDescription, new { @class = "form-control col", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm())
                        {
                            <div class="form-group mx-auto">
                                <div class="col-md-5 mx-auto">
                                    @Html.Hidden("movieId", Model.Id)
                                    @Html.Hidden("userName", User.Identity.Name)
                                    <input type="submit" value="Add to favourites" class="btn btn-default col btn-success" />

                                </div>
                            </div>
                        }
                    }
                <p>                     
                        
                    @if (User.IsInRole("Admin"))
                    {

                    @Html.ActionLink("Edit ", "Edit", new { id = Model.Id }, new { @class = "m-1" })
                    }
                    
                    @if(User.IsInRole("Admin"))
                    { 
                    @Html.ActionLink(" Back to List ", "Index", new {  }, new { @class = "m-1" })
                     
                    }
                    
                @Html.ActionLink(" Back to start page", "Index", "Home", new {}, new { @class = "m-1" })

                    
                </p>
                </div>
                   
                </div>
            </div>
        </div>
    </div>


